.body {
  margin: 0;
  margin-top: 2vw;
}

nav {
  margin: 2vw 8vw;
}

nav .al {
  text-align: center;
}

nav .al:hover {
  border-bottom: 1px solid #FB8F1D;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

nav .navbar-nav {
  text-align: center;
}

nav .navbar-nav .nav-item {
  text-align: center;
}

nav .navbar-nav .nav-item a {
  margin: 0vw 1vw;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.login {
  text-decoration: none;
  text-align: center;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  padding: 0vw 2vw;
}

.login a {
  color: #FB8F1D;
}

.login:hover {
  background-color: #FB8F1D;
  border-radius: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.login:hover a {
  color: white;
}

.a1 a {
  color: #000;
}

.a1 a:hover {
  color: #FB8F1D;
}

.active a {
  color: #000;
  font-weight: bold;
}

.active a:hover {
  color: #FB8F1D;
}

.register {
  text-decoration: none;
  text-align: center;
  background-color: #FB8F1D;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  margin-left: 0.5vw;
  padding: 0vw 2vw;
}

.register a {
  color: white;
}

.register:hover {
  background-color: white;
  border-radius: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.register:hover a {
  color: #FB8F1D;
}

.homepage .explore p {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage .explore p img {
  padding: 1vw 0vw 1vw 7vw;
}

.homepage .holiday {
  padding: 2vw 1vw 0vw;
}

.homepage .holiday h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}

.homepage .holiday hr {
  height: 0.5vw;
  width: 3vw;
  border-radius: 1vw;
}

.homepage .selector .form-select {
  width: 82%;
}

.homepage .selector .alink a {
  border-radius: 8px;
  background-color: #FB8F1D;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 60px; */
  padding: 0.5vw 4vw;
}

.homepage .selector .alink a:hover {
  background-color: white;
  color: #FB8F1D;
  border-radius: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.homepage .image .img {
  width: 40.188rem;
  height: 33.375rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.second .secondimage img {
  width: 41.188rem;
  height: 33.375rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.second .secondtext .h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000;
}

.second .secondtext p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: #7D7987;
}

.second .secondtext a {
  border-radius: 8px;
  background-color: #FB8F1D;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 60px; */
  padding: 0.5vw 3vw;
}

.second .secondtext a:hover {
  background-color: white;
  color: #FB8F1D;
  border-radius: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.features .featureshead .h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000;
}

.features .featureview a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
}

.featureimg .featureimage img {
  border-radius: 0.3rem;
}

.featureimg .featureplace h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
}

.featureimg .featureplace h5 a {
  text-decoration: none;
  color: black;
}

.featureimg .featureplace p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #80918E;
}

.guide .guideimage img {
  width: 41.188rem;
  height: 33.375rem;
  display: block;
  max-width: 100%;
  height: auto;
}

.guide .guidetext .h2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #000;
}

.guide .guidetext p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
  color: #7D7987;
}

.guide .guidetext a {
  border-radius: 8px;
  background-color: #FB8F1D;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 60px; */
  padding: 0.5vw 3vw;
}

.guide .guidetext a:hover {
  background-color: white;
  color: #FB8F1D;
  border-radius: 8px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.testimonials .testimonial .testimonialhead p {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.testimonials .test .testtext .testpara p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  color: #000;
}

.testimonials .test .testtext .testname .h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  line-height: 48px;
}

.testimonials .test .testtext .testname p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}

.testimonials .test .testimage .card .card-img {
  width: 90%;
  height: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.7vw;
  border-radius: 8%;
}

.testimonials .test .testimage .card .card-img-overlay .cardleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.testimonials .test .testimage .card .card-img-overlay .cardleft .cardplus {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.testimonials .test .testimage .card .card-img-overlay .cardright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.testimonials .test .testimage .card .card-img-overlay .cardright .cardcircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 2.2vw;
}

@media (max-width: 1116px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardcircle {
    padding-right: 3vw;
  }
}

@media (max-width: 931px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardcircle {
    padding-right: 3.5vw;
  }
}

@media (max-width: 800px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardcircle {
    padding-right: 4vw;
  }
}

@media (max-width: 550px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardcircle {
    padding-right: 6vw;
  }
}

.testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow {
  padding-top: 1vw;
  padding-right: 2.7vw;
  padding-bottom: 1vw;
  background-color: white;
}

.testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow button {
  background-color: white;
}

@media (max-width: 1116px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow {
    padding-right: 4vw;
  }
}

@media (max-width: 931px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow {
    padding-right: 5vw;
  }
}

@media (max-width: 800px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow {
    padding-right: 6vw;
  }
}

@media (max-width: 550px) {
  .testimonials .test .testimage .card .card-img-overlay .cardright .cardarrow .arrow {
    padding-right: 8vw;
  }
}

.trending .trendhead .h1 {
  font-family: ' Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.trending .trendview a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FB8F1D;
}

.trending .card .card-img-top {
  width: 100%;
  height: 12.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending .card .card-body {
  padding: 0;
}

.trending .card .card-body img {
  width: 100%;
  height: 11.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending .card .card-body h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  mix-blend-mode: normal;
}

.trending .card .card-body p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.trending .card .card-body a {
  padding: 0;
  background-color: white;
  color: #FB8F1D;
  border: none;
}

.footer {
  width: 100vw;
  height: 100%;
  background-color: #F9F9FB;
}

.footer .footers {
  padding: 6vw 11vw;
}

.footer .footers .foottext img {
  margin: 1vw 0vw;
}

.footer .footers .foottext .p1 {
  padding-right: 10vw;
  margin-bottom: 3vw;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 1198px) {
  .footer .footers .foottext .p1 {
    padding-right: 0vw;
  }
}

.footer .footers .foottext .p2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
}

.footer .footers .footlist h5 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 60px;
}

.footer .footers .footlist ul li a {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  text-decoration: none;
}

.footer .footers .social a {
  text-decoration: none;
}

.footer .footers .social a i {
  font-style: normal;
  color: #000;
}

.footer .footers .social a i:hover {
  color: #FB8F1D;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Single-page-content {
  text-align: center;
}

.Destpost {
  text-align: center;
}

.Destpost h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
}

.Destpost h5 a {
  text-decoration: none;
  color: black;
}

.Destpost p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #80918E;
}

.storypost {
  text-align: center;
}

.storypost img {
  width: 22.6rem;
  height: 27.75rem;
}

.storypost h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.storypost h5 a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.storypost p {
  margin: 0 9vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #80918E;
}
/*# sourceMappingURL=style.css.map */