@mixin Font-Adjustment($fontFamily , $fontStyle, $fontWeight, $fontSize , $lineHeight ) {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight; 
}
@mixin imageSize ($width ,  $height){
    height: $height;
    width: $width;
}
@mixin Color($fontColor , $backColor) {
    background-color: $backColor;
    color: $fontColor;
}